*{
    margin: 0px;
    padding: 0px;
    color: aliceblue;
    box-sizing: border-box;
}

#backgroud-img {
  max-width: 100%;
  height: auto;
  filter: brightness(45%);
}

body{
    background-color: black;
    font-family: sans-serif;
}

h1{
    display: inline;
    color: red;
}

.stater-container{
    max-width: 100%;
    height: auto;
}

nav{
    position:absolute;
    width: 96%;
    padding-top: 20px;
    padding-left: 4%;
    font-size: 1.8rem;
    font-weight: bolder;
    font-stretch: ultra-condensed;
    top: 0%;
}

.top-right{
    float: right;
    padding: 0.7% 1.4%;
    border-width: 0px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
}

button{
    background-color: red;
}

button:hover{
    cursor: pointer;
}

.center{
    position: absolute;
    text-align: center;
    top: 27%;
    left: 27%;
}

.center h2{
    font-size: 3rem;
}

.center h3{
    font-size: 1.7rem;
    font-weight: lighter;
    margin-top: 10px;
}

.center p{
    margin-top: 3%;
    font-size: 19px;
    margin-bottom: 1%;
}

.center input{
    border-width: 0px;
    padding: 3.3% 30% 3% 3%;
    font-size: 1rem;
    color: black;
}

.center button{
    border-width: 0px;
    padding: 2% 6% 2.5% 6%;
    font-size: 22px;
}

hr{
    position: relative;
    height: 5px;
    border: 0px;
    background-color: #757575;
}

/* .enjoy-tv{
    position: relative;
}

.enjoy-tv .left{
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-top: 10%;
}

.left h2{
    font-size: 3rem;
    margin-bottom: 3%;
}
.left p{
    font-size: 1.5rem;
}
.enjoy-tv .right{
    width: 50%;
    float: right;
}
.right img{
    width: 85%;
    margin-left: 5%;
}

.right video{
    position: absolute;
    width:30% ;
    margin-top: 6.8%;
    margin-left: 9%;
} */

.enjoy-tv{
    position: relative;
    margin-bottom: 35%;
}

.enjoy-tv .left{
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-top: 10%;
}

.left h2{
    font-size: 3rem;
    margin-bottom: 3%;
}

.left p{
    font-size: 1.5rem;
}

.enjoy-tv .right{
    width: 50%;
    float: right;
}

.right video{
    width:59% ;
    margin-top: 11%;
    margin-left: 20%;
}

.right img{
    position: absolute;
    width: 40%;
    margin-left: -35%;
}
/* 2nd */

.mac-tv video{
    width:55% ;
    margin-top: 17%;
}

.mac-tv img{
    margin-top: 4%;
    width: 43%;
    margin-left: -35%;
}

.watch-everyware .left{
    margin-top: 14%;
}

/* 3rd */
.mobile-tv{
    position: relative; 
    margin-bottom: 5%;
}

.mobile-right h2{
    font-size: 3rem;
    margin-bottom: 3%;
}

.mobile-right p{
    font-size: 1.5rem;
}

.mobile-right{
    float: right;
    width: 42%;
    margin-right: 5%;
    margin-top: -24%;
}

.mobile-left img{
    margin-top: 6%;
    margin-left: 6%;
}

/* FAQ portion*/
.FAQ{
    padding: 6% 5%;
   
}

.FAQ h2{
    font-size: 3rem;
    text-align: center;
}

.wrapper {
    margin: 4% 14% 0% 14%;
}

.wrapper h3, .sign {
    display: inline;
}

.wrapper div{
    background-color: #303030;
    padding: 3%;
    margin: 1%;
    font-size: 1.3rem;
}

.wrapper .sign{
    float: right;
    margin: 0px;
    padding: 0px;
    font-size: 2rem;
    background: none;
}

.FAQ p{
    margin-top: 4%;
    font-size: 19px;
    margin-bottom: 2%;
    text-align: center;
}

.FAQ input{
    border-width: 0px;
    padding: 3% 30% 3% 3%;
    font-size: 1rem;
    color: black;
    
}
.FAQ .center-feild{
    padding: 0px;
    background: none;
    text-align: center;
}

.FAQ button{
    border-width: 0px;
    padding: 2% 6% 2.5% 6%;
    font-size: 22px;
}